#agrupament{
    background-color: var(--tertiary-color);
    background-position: center 100%;
    background-repeat: none;
}

p.presentacion{
    font-size: 30px;
    justify-content: center;
    text-align: justify;
    padding-left: 6%;
    padding-right: 6%;
}