.et-branques-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 0 2em;
}

.et-branques-tabs{
  visibility: hidden;
}

.et-slide{
  height: 100vh;
}

.et-branques-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}

.et-branques-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-branques-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: var(--primary-color);
  z-index: 10;
}

.et-branques-tabs-container--bottom {
  visibility: visible;
  position: fixed;
  bottom: 0;
}

.et-branques-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0 ease;
  font-size: 0.8rem;
}

.et-branques-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}

.et-branques-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: var(--tertiary-color);
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-branques-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }

  .et-branques-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-branques-tab {
    font-size: 1rem;
  }
}

a.cill-link,
a.cill-link:hover,
a.cill-link:focus,
a.cill-link:active,
a.cill-link.active {
  color: var(--cill-color)!important;
  font-weight: bold;
}

a.llid-link,
a.llid-link:hover,
a.llid-link:focus,
a.llid-link:active,
a.llid-link.active {
  color: var(--llid-color)!important;
  font-weight: bold;
}

a.ring-link,
a.ring-link:hover,
a.ring-link:focus,
a.ring-link:active,
a.ring-link.active {
  color: var(--ring-color)!important;
  font-weight: bold;
}

a.pic-link,
a.pic-link:hover,
a.pic-link:focus,
a.pic-link:active,
a.pic-link.active {
  color: var(--pic-color)!important;
  font-weight: bold;
}

a.truc-link,
a.truc-link:hover,
a.truc-link:focus,
a.truc-link:active,
a.truc-link.active {
  color: var(--truc-color)!important;
  font-weight: bold;
}

#tab-cill{
  background-color: var(--cill-color);
}

#tab-llid{
  background-color: var(--llid-color);
}

#tab-ring{
  background-color: var(--ring-color);
}

#tab-pic{
  background-color: var(--pic-color);
}

#tab-truc{
  background-color: var(--truc-color);
}