#calendari .input-row {
  display: flex;
  justify-content: center !important;
  margin: auto;
  padding-top: 16px;
}

option.calendari,
#calendari .input-row label,
#calendar-select {
  text-align: center;
  font-weight: bold;
}

#calendar {
  width: 90%;
}

.fc-center {
  text-transform: uppercase;
}