#rowSelectCalendar{
  display: flex;
  justify-content: center !important;
  margin: auto;
}

option.calendari {
  text-align: center;
}

#calendar{
  width: 90%;
}

.fc-center {
  text-transform: uppercase;
}
