#rowSelectCalendar{
  display: flex;
  justify-content: center !important;
  margin: auto;
  padding-top: 16px;
}

option.calendari, #rowSelectCalendar label, #calendarSelect {
  text-align: center;
  font-weight: bold;
}

#calendar{
  width: 90%;
}

.fc-center {
  text-transform: uppercase;
}