#contacta {
  text-align: center;
  background-attachment: scroll;
  background-image: url(../media/fondo_formulario.jpg);
  background-position: center center 100%;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

form{
  width: 70%;
}

input.form-contact, select.form-contact, option.form-contact,textarea.form-contact{
  min-height: 50px;
}

label.form-contact{
  color: var(--secondary-color);
  font-weight: 900;
  display: flex;
  justify-content: flex-start;
  font-size: larger;
  text-shadow: 2px 2px var(--primary-color);
}

button[type="submit"]{
  font-weight: bold;
  font-size: 150%;
  height: auto;
  width: 35%;
  border: 0px;
  text-align: center;
}