nav {
  position: fixed !important;
  width: 100%;
  z-index: 10;
}

.navbar-shrink {
  background-color: var(--primary-color);
}

.navbar-default {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navbar-brand {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  color: #fff;
  text-shadow: 3px 3px var(--secondary-color);
  font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  color: var(--secondary-color);
  text-shadow: 0px 0px;
}

.collapse .navbar-nav li a {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  letter-spacing: 1px;
  color: #fff !important;
}

.navbar-default .nav li a:hover {
  outline: 1;
  color: var(--secondary-color) !important;
  font-size: 1.5em;
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 6px;
  color: #fff;
  background-color: var(--secondary-color);
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  font-weight: bold;
  color: #fff !important;
}

#menu {
  flex-grow: 0 !important;
}

@media(min-width:1200px) {
  .navbar-default .navbar-brand {
    font-size: 2em;
  }
}

@media(min-width:1400px) {
  .collapse .navbar-nav li a {
    font-size: 1.5em;
  }

  .navbar-default .nav li a:hover {
    font-size: 2em;
  }
}

@media(max-width:1200px) {
  .navbar-default{
    background-color: var(--primary-color);
  }

  ul.navbar-nav {
    display: flex;
    text-align: center;
  }
  .nav-item {
    margin: auto;
    width: 80% !important;
  }
}