:root {
  --primary-color: #222;
  --secondary-color: #ffe600;
  --tertiary-color: #006600;
  --cill-color: #EF6024;
  --llid-color: #F2BB16;
  --ring-color: #13678A;
  --pic-color: #D92525;
  --truc-color: #2D5731;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body:after{
  background-image: linear-gradient(
    90deg,
    var(--cill-color) 20%,
    var(--llid-color) 40%,
    var(--ring-color) 60%,
    var(--pic-color) 80%,
    var(--truc-color) 100%
  );
  content: "";
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 7px;
  z-index: +30;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  text-decoration: none;
}

.title{
  font-family: 'Kaushan Script';
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  text-shadow: 3px 3px var(--primary-color);
}

.row{
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
