:root {
  --primary-color: #222;
  --secondary-color: #006600;
  --tertiary-color: #F2C12E;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.title{
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 1%;
  text-shadow: 5px 5px var(--secondary-color);
}

.row{
  display: flex;
  justify-content: center;
}
