:root {
  --primary-color: #222;
  --secondary-color: #ffe600;
  --tertiary-color: #006600;
  --cill-color: #EF6024;
  --llid-color: #F2BB16;
  --ring-color: #13678A;
  --pic-color: #D92525;
  --truc-color: #2D5731;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body:after {
  background-image: linear-gradient(90deg,
      var(--cill-color) 20%,
      var(--llid-color) 40%,
      var(--ring-color) 60%,
      var(--pic-color) 80%,
      var(--truc-color) 100%);
  content: "";
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 7px;
  z-index: +30;
}

body::-webkit-scrollbar {
  width: 10px;
  background: var(--primary-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
  height: 100px;
}

.row {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.parallax {
  background-size: cover !important;
}

.parallax-inner {
  padding-top: 20%;
  padding-bottom: 20%;
}

h1 {
  font-size: 160px;
  text-align: center;
}

h3 {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

p:not(.text-pea) {
  font-size: x-large;
  line-height: 1.75;
  color: #fff;
}

p.presentacion {
  font-size: 30px;
  justify-content: center;
  text-align: justify;
  padding-left: 6%;
  padding-right: 6%;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  text-decoration: none;
  color: #fff;
}

a.link-in-text {
  text-decoration: underline;
}

a.link-in-text:hover {
  color: darkblue;
}

.title {
  font-family: 'Kaushan Script';
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  text-shadow: 6px 6px var(--primary-color);
  text-align: center;
}

iframe {
  width: 100%;
}

footer {
  background-color: var(--primary-color);
}

footer div {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: x-large;
  text-align: center;
}

footer #logos-scoltas img {
  width: 35%;
  max-height: max-content;
}

footer #meg img {
  width: 60%;
}

:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --youtube: #c4302b;
}

#social-media ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

#social-media ul li {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
}

#social-media ul li a {
  display: block;
  padding: 5px 10px;
  color: #fff;
  line-height: 50px;
  font-size: 40px;
  transition: .2;
}

#social-media ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
}

#social-media ul li .facebook:hover {
  background: var(--facebook);
}

#social-media ul li .instagram:hover {
  background: var(--instagram);
}

#social-media ul li .youtube:hover {
  background: var(--youtube);
}

footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999;
  line-height: 40px;
  text-decoration: none !important;
}